<footer>
    <div class="container-fluid app-bg-color w-85">
        <div class="p-2 text-center">
            &copy;2018-2019 Driving Schools . All Rights Reserved.
        </div>
    </div>
</footer>