<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DrivingSchoolWebApp.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="~/css/reset-css.css">
        <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">

        <!-- Main Style -->
        <link rel="stylesheet" type="text/css" href="~/css/main.css">
        <!-- Responsive Style -->
        <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
        <!--Fonts-->
        <link rel="stylesheet" media="screen" href="~/fonts/font-awesome/font-awesome.min.css">
        <link rel="stylesheet" media="screen" href="~/fonts/simple-line-icons.css">

        <!-- Extras -->
        <link rel="stylesheet" type="text/css" href="~/extras/owl/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="~/extras/owl/owl.theme.css">
        <link rel="stylesheet" type="text/css" href="~/extras/animate.css">
        <link rel="stylesheet" type="text/css" href="~/extras/normalize.css">
        <link rel="stylesheet" type="text/css" href="~/extras/settings.css">

        <!-- Color CSS Styles  -->
        <link rel="stylesheet" type="text/css" href="~/css/colors/green.css" media="screen" />

        @*<link rel="stylesheet" type='text/css' href="~/css/fullcalendar.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" rel="stylesheet" media="print" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />*@
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container-fluid ml-35">
        <!-- Header area wrapper starts -->
        <header id="header-wrap">

            <!-- Header area starts -->
            <section id="header">

                <!-- Navbar Starts -->
                <nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
                    <div class="container">
                        <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu' data-toggle='collapse'
                                type='button'>
                            ☰
                        </button>
                        <!-- Brand -->
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/img/logo.png" alt="">
                        </a>

                        <!-- Navbar Starts -->
                        <partial name="_LoginPartial" />

                    </div>
                </nav>
                <!-- Navbar Ends -->
                <!-- Carousel Starts -->
                <!-- Carousel Ends -->
            </section>
            <!-- Start Content -->
            <!-- End Content -->
        </header>

        <partial name="_CookieConsentPartial" />
        <section>
            @RenderBody()
        </section>
        <partial name="_FooterPartial" />

        <a href="#" class="back-to-top" style="display: block;">
            <i class="fa fa-angle-up">
            </i>
        </a>
        <div class="bottom"> <a href="#" class="settings"></a> </div>
    </div>
<partial name="_UIScriptsPartial"/>

@RenderSection("Scripts", required: false)
</body>
</html>
