@using DrivingSchoolWebApp.Data.Common
@using DrivingSchoolWebApp.Data.Models
@using DrivingSchoolWebApp.Data.Models.Enums
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div class="collapse navbar-toggleable-sm pull-xs-left pull-md-right" id="main-menu">
    <!-- Navbar Starts -->
    <ul class="nav nav-inline">

        @if (this.User.Identity.IsAuthenticated)
        {
            if (this.User.IsInRole(GlobalDataConstants.SchoolRoleName))
            {
                <partial name="_SchoolNavigation" />
            }
            else if (@UserManager.GetUserAsync(User).Result.UserType == UserType.Customer)
            {
                <partial name="_UserNavigation" />
            }
            else
            {
                <partial name="_TrainerNavigation" />
            }
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    Hello @User.Identity.Name!
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    @if (this.User.IsInRole("School"))
                    {

                    <a class="dropdown-item " asp-area="SchoolManage" asp-controller="Schools" asp-action="Manage">Manage profile</a>

                    }
                    @if (this.User.IsInRole("Admin"))
                    {

                    <a class="dropdown-item " asp-area="Administration" asp-controller="Users" asp-action="AdminPanel">Admin Panel</a>

                    }

                    <a class="dropdown-item " asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>

                </div>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link " asp-controller="Account" asp-action="Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-controller="Account" asp-action="Register">Register</a>
            </li>
        }
    </ul>

</div>

