@model DrivingSchoolWebApp.Services.Models.School.EditSchoolInputModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit School Info</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="Administration" asp-controller="ManageSchools" asp-action="Edit" asp-route-id="@Model.Id" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TradeMark" class="control-label"></label>
                <input asp-for="TradeMark" class="form-control" value="@Model.TradeMark"/>
                <span asp-validation-for="TradeMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficeAddress" class="control-label"></label>
                <input asp-for="OfficeAddress" class="form-control" value="@Model.OfficeAddress"/>
                <span asp-validation-for="OfficeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" value="@Model.Phone" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
           <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

