@using DrivingSchoolWebApp.Data.Models
@using DrivingSchoolWebApp.Data.Models.Enums
@model DrivingSchoolWebApp.Services.Models.Exam.CreateExamInputModel

@{
    ViewData["Title"] = "Create";
}

<!-- Page Header -->
<div class="page-header-section">
    <div class="container">
        <div class="row">
            <div class="page-header-area">
                <div class="page-header-content">
                    <h2>Create exam</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!--Form Container Start-->
<div class="container d-flex justify-content-center">
    <div class="card col-md-8 mt-15 d-flex">
        <div class="card-header">
            <h5 class="text-center">Add exam details</h5>
        </div>
        <div class="card-body d-flex ">
            <form asp-action="Create" class="mx-auto w-75">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="CustomerId" class="form-control" type="hidden" />
                <input asp-for="CourseId" class="form-control" type="hidden" />
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Time" class="control-label"></label>
                    <input asp-for="Time" class="form-control" />
                    <span asp-validation-for="Time" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" asp-items="Html.GetEnumSelectList<LessonStatus>()">
                        <option value="" selected disabled hidden>Please select one</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Type" asp-items="Html.GetEnumSelectList<ExamType>()">
                        <option value="" selected disabled hidden>Please select one</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group justify-content-center d-flex">
                    <input type="submit" value="Create" class="btn btn-common btn-lg" />
                </div>
            </form>
        </div>
    </div>
</div>
<!--Form Container End-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

