@using System.Security.Claims
@model DrivingSchoolWebApp.Services.Models.School.CreateSchoolInputModel

@{
    ViewData["Title"] = "Create";
}

<!-- Page Header -->
<div class="page-header-section">
    <div class="container">
        <div class="row">
            <div class="page-header-area">
                <div class="page-header-content">
                    <h2>Create a driving school</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!--Form Container Start-->
<div class="container d-flex justify-content-center">
    <div class="card col-md-8 mt-15 d-flex">
        <div class="card-header">
            <h5 class="text-center">Add new school details</h5>
        </div>
        <div class="card-body d-flex ">
            <form asp-action="Create" asp-controller="Schools" asp-area="SchoolManage" method="post" class="mx-auto w-75">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="ManagerId" class="form-control" type="hidden" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
                <div class="form-group">
                    <label asp-for="TradeMark" class="control-label"></label>
                    <input asp-for="TradeMark" class="form-control" placeholder="TradeMark..." />
                    <span asp-validation-for="TradeMark" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" placeholder="Phone..." />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OfficeAddress" class="control-label"></label>
                    <input asp-for="OfficeAddress" class="form-control" placeholder="Office address..." />
                    <span asp-validation-for="OfficeAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                        </label>
                    </div>
                </div>
                <div class="form-group justify-content-center d-flex">
                    <input type="submit" value="Create school profile" class="btn btn-common btn-lg" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

