.chushka-bg-color {
    background-color: #afeeee;
    color: black;
}

.text-chushka {
    color: black;
}

.nav-link-white {
    color: black;
}

.hr-2 {
    height: 2px;
}

footer {
    position: fixed;
    bottom: 0;
    border: 0;
    width: 98%;
}
.w-85 {
    width: 85%
}

.bg-gray {
    background-color: gray;
}

.text-gray {
    color: gray;
}