.app-bg-color {
    background-color: #afeeee;
    color: black;
}

.text-app {
    color: black;
}

.nav-link-white {
    color: black;
}

.hr-2 {
    height: 2px;
}

footer {
    position: fixed;
    bottom: 0;
    border: 0;
    width: 98%;
}
.w-85 {
    width: 85%
}

.bg-gray {
    background-color: gray;
}

.text-gray {
    color: gray;
}

/*-- banner-bottom-icons - start --*/
.banner-bottom-icons {
    padding: 5em 0;
}

.w3_banner_bottom_icons_left, .w3_banner_bottom_icons_right {
    padding: 0;
}

.w3_banner_bottom_icons_right {
    border-bottom: 1px solid #f5f5f5;
}

.w3_banner_bottom_icons1 {
    border-right: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5;
    padding: 0.35em;
    text-align: center;
}

    .w3_banner_bottom_icons1 i {
        font-size: 2em;
        color: #fff;
        font-family: FontAwesome;
        width: 80px;
        height: 80px;
        border-radius: 50px;
        font-style: normal;
        display: inline-block;
        background: #13b3bb;
        line-height: 2.5em;
    }

.fa-car:before {
    content: "\f1b9";
}

.fa-bell:before {
    content: "\f0f3";
}

.fa-credit-card:before {
    content: "\f2bc";
}

.fa-thumbs-up:before {
    content: "\f164";
}

.w3_banner_bottom_icons1 h3 {
    font-size: 1.2em;
    color: #212121;
    text-transform: uppercase;
    margin: 1em 0;
    position: relative;
    padding-bottom: .8em;
}

    .w3_banner_bottom_icons1 h3:before {
        content: '';
        background: #13b3bb;
        width: 25%;
        height: 2px;
        position: absolute;
        left: 36.9%;
        bottom: 0%;
    }

.w3_banner_bottom_icons1 p {
    color: #999;
    line-height: 2em;
}

.w3_banner_bottom_icons1_effect {
    position: relative;
    overflow: hidden;
    display: inline-block;
    -moz-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
    padding: 1em;
}

    .w3_banner_bottom_icons1_effect::before {
        width: 80px;
        height: 80px;
        background: transparent;
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        border-right: 2px solid #b1b1b1;
        border-top: 2px solid #b1b1b1;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        opacity: 0;
    }

    .w3_banner_bottom_icons1_effect::after {
        width: 80px;
        height: 80px;
        background: transparent;
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        border-left: 2px solid #b1b1b1;
        border-bottom: 2px solid #b1b1b1;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        opacity: 0;
    }

.w3_banner_bottom_icons1:hover .w3_banner_bottom_icons1_effect::before {
    opacity: 1;
    right: 5px;
    top: 5px;
}

.w3_banner_bottom_icons1:hover .w3_banner_bottom_icons1_effect::after {
    opacity: 1;
    left: 5px;
    bottom: 5px;
}

.w3_banner_bottom_icons1:hover {
    background: #f5f5f5;
}

.w3_agile_banner_bottom {
    position: relative;
}

    .w3_agile_banner_bottom figure, .w3ls_featured_services_grid figure {
        margin: 0;
        padding: 0;
        background: #fff;
        overflow: hidden;
    }
/*-- banner-bottom-icons - end --*/