@using DrivingSchoolWebApp.Data.Models.Enums
@using DrivingSchoolWebApp.Services.Models.Car
@using DrivingSchoolWebApp.Services.Models.Trainer
@model DrivingSchoolWebApp.Services.Models.Course.CreateCourseInputModel

@{
    ViewData["Title"] = "Create";
    var trainersList = ViewBag.Trainers ?? new List<AvailableTrainerViewModel>();
    var carsList = ViewBag.Cars ?? new List<CarViewModel>();
}
<!-- Page Header -->
<div class="page-header-section">
    <div class="container">
        <div class="row">
            <div class="page-header-area">
                <div class="page-header-content">
                    <h2>Create new course</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!--Form Container Start-->
<div class="container d-flex justify-content-center">
    <div class="card col-md-8 mt-15 d-flex">
        <div class="card-header">
            <h5 class="text-center">Add new course details</h5>
        </div>
        <div class="card-body d-flex ">
            <form asp-controller="Courses" asp-action="Create" method="post" class="mx-auto w-75">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group justify-content-between d-flex">
                    <label asp-for="Category" class="control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()">
                            <option selected="selected" value="">Please select</option>
                        </select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    @*<label asp-for="Price" class="control-label"></label>*@
                    <input asp-for="Price" class="form-control" placeholder="Price..." />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                   @* <label asp-for="Description" class="control-label"></label>*@
                    <textarea asp-for="Description" class="form-control" placeholder="Description..."></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="MinimumLessonsCount" class="control-label"></label>*@
                    <input asp-for="MinimumLessonsCount" class="form-control" placeholder="Minimum lessons" />
                    <span asp-validation-for="MinimumLessonsCount" class="text-danger"></span>
                </div>
                <div class="form-group justify-content-between d-flex">
                    <label asp-for="TrainerId" class="control-label"></label>
                    <div class="col-md-10">
                        @if (ViewBag.TrainerId != null)
                        {
                            <input asp-for="TrainerId" class="form-control" value="@ViewBag.TrainerId" disabled />
                        }
                        else
                        {
                            <select asp-for="TrainerId"
                                    asp-items="@(new SelectList(trainersList, "Id", "UserNickname"))">
                                <option value="" selected disabled hidden>Please select one</option>
                            </select>
                        }
                        <span asp-validation-for="TrainerId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group justify-content-between d-flex">
                    <label asp-for="CarId" class="control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="CarId"
                                asp-items="@(new SelectList(carsList, "Id", "Title"))">
                            <option value="" selected disabled hidden>Please select one</option>
                        </select>
                        <span asp-validation-for="CarId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input asp-for="SchoolId" class="form-control" value="@ViewBag.SchoolId" hidden="hidden" />
                </div>
                <div class="form-group justify-content-center d-flex">
                    <input type="submit" value="Create" class="btn btn-common btn-lg" />

                </div>
            </form>
        </div>
    </div>
</div>
<!--Form Container End-->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
