@model DrivingSchoolWebApp.Services.Models.Certificate.DetailsCertificateViewModel

@{
    ViewData["Title"] = "Details";
}

<!-- Page Header -->
<div class="page-header-section">
    <div class="container">
        <div class="row">
            <div class="page-header-area">
                <div class="page-header-content">
                    <h2>Certificate Details</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!--Form Container Start-->
<div class="container d-flex justify-content-center w-75">
    <div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
        <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
            <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>
            <br><br>
            <span style="font-size:25px"><i>This is to certify that</i></span>
            <br><br>
            <span style="font-size:30px"><b>@Model.CustomerFullName</b></span><br/><br/>
            <span style="font-size:25px"><i>has completed the course</i></span> <br/><br/>
            <span style="font-size:30px">@Model.CourseInfo</span> <br/><br/>
            <span style="font-size:20px"><b>with success</b></span> <br/><br/><br/><br/>
            <span style="font-size:25px"><i>Issued On</i></span><br>
            @Model.IssueDate
           
        </div>
    </div>
</div>
<div>
    <a asp-action="All">Back to List</a>
</div>
