@using DrivingSchoolWebApp.Data.Common
@using Microsoft.AspNetCore.Identity

<!--featured section start-->
<section id="featured" class="section">

    <div class="container">
        <h1 class="section-title wow fadeInUpQuick animated" style="visibility: visible;">
            Enjoy your work admin!
        </h1>
        <p class="section-subcontent">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui <br>
            blanditiis praesentium
        </p>
        <div class="row">

            <div class="col-md-4 col-sm-6 wow fadeInUpQuick animated" data-wow-delay=".2s" data-animation="fadeIn"
                 data-animation-delay="01" style="visibility: visible;-webkit-animation-delay: .2s; -moz-animation-delay: .2s; animation-delay: .2s;">
                <div class="featured-box">
                    <div class="featured-icon">
                        <i class="icon-present">
                        </i>
                    </div>
                    <div class="featured-content">
                        <h4>
                            <a asp-area="Administration" asp-controller="ManageSchools" asp-action="Index">
                                Manage Schools
                            </a>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et magna aliqua.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-6 wow fadeInUpQuick animated" data-wow-delay=".4s" data-animation="fadeIn"
                 data-animation-delay="01" style="visibility: visible;-webkit-animation-delay: .4s; -moz-animation-delay: .4s; animation-delay: .4s;">
                <div class="featured-box">
                    <div class="featured-icon">
                        <i class="icon-rocket">
                        </i>
                    </div>
                    <div class="featured-content">
                        <h4>
                            <a asp-area="Administration" asp-controller="Users"
                               asp-action="AdminPanel">Manage all users</a>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et magna aliqua.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 wow fadeInUpQuick animated" data-wow-delay="1.2s" data-animation="fadeIn"
                 data-animation-delay="01" style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">
                <div class="featured-box">
                    <div class="featured-icon">
                        <i class="icon-star">
                        </i>
                    </div>
                    <div class="featured-content">
                        <h4>
                            <a asp-area="" asp-controller="" asp-action="">
                                Additional administration 
                            </a>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et magna aliqua.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
<!--featured section end-->
