 <!--featured section start-->
<section id="featured" class="section">

    <div class="container">
        <h1 class="section-title wow fadeInUpQuick animated" style="visibility: visible;">
            Core Features
        </h1>
        <p class="section-subcontent">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui <br>
            blanditiis praesentium
        </p>
        <div class="row">

            <div class="col-md-4 col-sm-6 wow fadeInUpQuick animated" data-wow-delay=".2s" data-animation="fadeIn"
                 data-animation-delay="01" style="visibility: visible;-webkit-animation-delay: .2s; -moz-animation-delay: .2s; animation-delay: .2s;">
                <div class="featured-box">
                    <div class="featured-icon">
                        <i class="icon-present">
                        </i>
                    </div>
                    <div class="featured-content">
                        <h4>
                            <a  asp-area="" asp-controller="Courses" asp-action="Offered">Offered
                                courses</a>
                           </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et magna aliqua.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-6 wow fadeInUpQuick animated" data-wow-delay=".4s" data-animation="fadeIn"
                 data-animation-delay="01" style="visibility: visible;-webkit-animation-delay: .4s; -moz-animation-delay: .4s; animation-delay: .4s;">
                <div class="featured-box">
                    <div class="featured-icon">
                        <i class="icon-rocket">
                        </i>
                    </div>
                    <div class="featured-content">
                        <h4>
                            <a  asp-area="SchoolManage" asp-controller="Trainers"
                               asp-action="All">Hired Trainers</a>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et magna aliqua.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-6 wow fadeInUpQuick animated" data-wow-delay=".6s" data-animation="fadeIn"
                 data-animation-delay="01" style="visibility: visible;-webkit-animation-delay: .6s; -moz-animation-delay: .6s; animation-delay: .6s;">
                <div class="featured-box">
                    <div class="featured-icon">
                        <i class="icon-pencil">
                        </i>
                    </div>
                    <div class="featured-content">
                        <h4>
                            <a asp-area="SchoolManage" asp-controller="Cars" asp-action="All">All
                                Cars</a>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et magna aliqua.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-6 wow fadeInUpQuick animated" data-wow-delay=".8s" data-animation="fadeIn"
                 data-animation-delay="01" style="visibility: visible;-webkit-animation-delay: .8s; -moz-animation-delay: .8s; animation-delay: .8s;">
                <div class="featured-box">
                    <div class="featured-icon">
                        <i class="icon-diamond icon-large icon-effect">
                        </i>
                    </div>
                    <div class="featured-content">
                        <h4>
                            <a asp-area="" asp-controller="Orders" asp-action="All">Received
                                Orders</a>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et magna aliqua.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-6 wow fadeInUpQuick animated" data-wow-delay="1s" data-animation="fadeIn"
                 data-animation-delay="01" style="visibility: visible;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">
                <div class="featured-box">
                    <div class="featured-icon">
                        <i class="icon-settings">
                        </i>
                    </div>
                    <div class="featured-content">
                        <h4>
                            <a asp-area="" asp-controller="Feedbacks" asp-action="All">Received
                                feedbacks</a>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et magna aliqua.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-6 wow fadeInUpQuick animated" data-wow-delay="1.2s" data-animation="fadeIn"
                 data-animation-delay="01" style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">
                <div class="featured-box">
                    <div class="featured-icon">
                        <i class="icon-star">
                        </i>
                    </div>
                    <div class="featured-content">
                        <h4>
                            <a asp-area="" asp-controller="Payments" asp-action="All">Received
                                Payments</a>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et magna aliqua.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
<!--featured section end-->