@using DrivingSchoolWebApp.Data.Common
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Home Page";
}
<section >
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            @if (User.IsInRole(GlobalDataConstants.SchoolRoleName))
            {
                <partial name="_SchoolHomePartialFeatures"/>
            }
            else if (User.IsInRole(GlobalDataConstants.UserRoleName))
            {
               <partial name="_UserHomePartialServiceBlock"/>
            }
        </div>

    }
    else
    {
        <partial name="_NotLoginPartialSplit"/>
       
    }
   

</section>
