@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@model DrivingSchoolWebApp.Services.Models.Lesson.FullCalendarInputModel
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    Layout = "_LayoutSchedule";
    ViewData["Title"] = "Schedule";
    var ordersList = ViewBag.OrdersList;
    var trainersList = ViewBag.TrainersList;
    int orderId = ViewBag.OrderId;
}


<h2>Schedule</h2>
<div>
    @*<form id="myForm" asp-action="Index" asp-controller="Lessons">
        <div class="form-group">
            <label name="TrainerId">Trainers</label>
            <select id="trainerId" name="TrainerId"
                    asp-items="@(new SelectList(trainersList, "Id", "UserNickname"))">
                <option>Please select one</option>
            </select>
        </div>
        </form>*@
    <input type="hidden" name="TrainerId" id="trainerId" value="@ViewBag.TrainerId" />
</div>
<div id="calender"></div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Save Event</h4>
            </div>
            <div class="modal-body">
                <form class="col-md-12 form-horizontal" asp-controller="Lessons" asp-action="Save" id="lessonsForm" method="post">
                    <input type="hidden" asp-for="Id" id="fcId" value="0" />
                    <input type="hidden" asp-for="TrainerId" value="@ViewBag.TrainerId" />
                    <div class="form-group">
                        <label asp-for="OrderId">Order</label>
                        <select asp-for="OrderId"
                                asp-items="@(new SelectList(ordersList,"Id","Info",orderId))">
                            <option>Please select one</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subject">Subject</label>
                        <input type="text" asp-for="Subject" class="form-control" id="fcSubject" />
                    </div>
                    <div class="form-group">
                        <label asp-for="StartTime">Start</label>
                        <div class="input-group date" id="dtp1">
                            <input type="text" asp-for="StartTime" class="form-control" id="fcStartTime" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="IsFullDay"><input type="checkbox" asp-for="IsFullDay" checked="checked" id="fcIsFullDay" /> Is Full Day event</label>
                        </div>
                    </div>
                    <div class="form-group" id="divEndDate" style="display: none">
                        <label asp-for="EndTime">End</label>
                        <div class="input-group date" id="dtp2">
                            <input type="text" asp-for="EndTime" class="form-control" id="fcEndTime" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <textarea asp-for="Description" rows="3" class="form-control" id="fcDescription"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="ThemeColor">Theme Color</label>
                        <select asp-for="ThemeColor" class="form-control" id="fcThemeColor">
                            <option value="">Default</option>
                            <option value="red">Red</option>
                            <option value="blue">Blue</option>
                            <option value="black">Black</option>
                            <option value="green">Green</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $("#trainerId").change(function () {
            $("#myForm").submit();
        });
    </script>
    <script type="text/javascript" src="~/scripts/schoolCalendar.js"></script>
}


