@using DrivingSchoolWebApp.Data.Models.Enums
@model DrivingSchoolWebApp.Services.Models.Payment.CreatePaymentInputModel

@{
    ViewData["Title"] = "Create";
}

<h2>Make payment for orderId @Model.OrderId</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Payments" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="OrderId" class="form-control" value="@Model.OrderId" type="hidden" />
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <select asp-for="PaymentMethod" asp-items="Html.GetEnumSelectList<PaymentMethod>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="All">Back to List</a>
</div>

