@using DrivingSchoolWebApp.Data.Models.Enums
@model DrivingSchoolWebApp.Services.Models.Payment.CreatePaymentInputModel

@{
    ViewData["Title"] = "Create";
}

<!-- Page Header -->
<div class="page-header-section">
    <div class="container">
        <div class="row">
            <div class="page-header-area">
                <div class="page-header-content">
                    <h2>Make payment for orderId @Model.OrderId</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!--Form Container Start-->
<div class="container d-flex justify-content-center">
    <div class="card col-md-8 mt-15 d-flex">
        <div class="card-header">
            <h5 class="text-center">Payments details</h5>
        </div>
        <div class="card-body d-flex ">
            <form asp-controller="Payments" asp-action="Create" method="post" class="mx-auto w-75">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="OrderId" class="form-control" value="@Model.OrderId" type="hidden" />
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaymentMethod" class="control-label"></label>
                    <select asp-for="PaymentMethod" asp-items="Html.GetEnumSelectList<PaymentMethod>()">
                        <option value="" selected disabled hidden>Please select one</option>
                    </select>
                    <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                </div>
                <div class="form-group justify-content-center d-flex">
                    <input type="submit" value="Confirm your payment" class="btn btn-common btn-lg" />
                </div>
            </form>
        </div>
    </div>
</div>
<!--Form Container End-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
